In [3]:
import pandas as pd 
import sklearn as sk

In [10]:
train_set=pd.read_csv("train.csv")

In [11]:
test_set=pd.read_csv("test.csv")

In [69]:
train_set['bias']=1

In [70]:
#busco el numero de keywords únicos que hay
len(train_set['keyword'].unique())
#hay elementos nan que deberia quitar

222

In [68]:
train_set

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [71]:
train_set.columns

Index(['id', 'keyword', 'location', 'text', 'target', 'bias'], dtype='object')

In [72]:
train_set['keyword'].isna().value_counts()

False    7552
True       61
Name: keyword, dtype: int64

In [75]:
#porcentaje de elementos a dropear:
print((61/(7603) )*100)

0.8023148757069578

In [76]:
train_set['id'].isna().value_counts()
#no hay registros para dropear

False    7613
Name: id, dtype: int64

In [77]:
train_set['location'].isna().value_counts()

False    5080
True     2533
Name: location, dtype: int64

In [78]:
#aca ya hay un problema mas importante
#elementos a dropear:
print((2533/(2533+5080))*100)

33.27203467752528

In [ ]:
#en el peor de los casos con las columnas location y keyword estaría eliminando
#1131 registros, un poco mas del 33% del total de los elementos del set de entrenamiento

In [64]:
train_set['text'].isna().value_counts()

False    7613
Name: text, dtype: int64

In [50]:
#no hay elementos nan en el texto

In [51]:
#idea: tratar de perder la menor cantidad de datos posibles. Para eso
#1-> tratar de predecir el keyword para aquellos elementos que no lo tienen
#voy a generar un set de entrenamiento que tenga texto y keyword, y voy a tratar de 
#predecir el keyword correcto

In [52]:
#prediccion de keyword

In [61]:
test_set_keyword=test_set.loc[test_set['keyword'].notnull()]

In [62]:
test_set_keyword

,id,keyword,location,text,bias
15,46,ablaze,London,Birmingham Wholesale Market is ablaze BBC News...,1
16,47,ablaze,Niall's place | SAF 12 SQUAD |,@sunkxssedharry will you wear shorts for race ...,1
17,51,ablaze,NIGERIA,#PreviouslyOnDoyinTv: Toke MakinwaÛªs marriag...,1
18,58,ablaze,Live On Webcam,Check these out: http://t.co/rOI2NSmEJJ http:/...,1
19,60,ablaze,"Los Angeles, Califnordia",PSA: IÛªm splitting my personalities.\n\n?? t...,1
...,...,...,...,...,...
3247,10806,wrecked,Seattle Washington,RT CNBC '3 words from Disney CEO Bob Iger wrec...,1
3248,10807,wrecked,Acey mountain islanddåÇTorontoåÈ,Smackdown tyme this should put me in a good mo...,1
3249,10816,wrecked,los angeles,@thrillhho jsyk I haven't stopped thinking abt...,1
3250,10820,wrecked,"Brussels, Belgium",@stighefootball Begovic has been garbage. He g...,1
3251,10828,wrecked,NaN,Wrecked today got my hattrick ????,1